<h1>Local machine summary</h1>
{{#if summary}}
<table>
    <tr>
        <th>Key</th>
        <th>Value</th>        
    </tr>
    {{#each summary}}
    <tr>
        <td>{{@key}}</td>
        <td>{{this}}</td>        
    </tr>
    {{/each}}
</table>
{{else}}
<h2>No data</h2>
{{/if}}